@import '~styles/utils.scss';

$spaceImgToActivity: 1rem;

.feedlist {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed {
  font-size: 0.9rem;
  width: 100%;
  padding: 2rem 0;
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    .img {
      width: 32px;
      height: 32px;
      background-color: gray;
    }
    .activity {
      margin: 0 $spaceImgToActivity;
    }
    .date {
      color: gray;
    }
  }
  .detail {
    background-color: white;
    height: 4rem;
    margin-left: calc(32px + #{$spaceImgToActivity});
    border: 1px solid $gray;
    border-radius: 5px;
  }
}
.feed + .feed {
  border-top: 1px solid $gray;
}
