@import '~styles/utils.scss';

.userHeader {
  background-color: rgb(238, 238, 238);
  padding: 1%;
  height: 7.5rem;
}

.userHeader .btn-primary {
  float: right;
  margin-right: 15%;
}
.userProfileImg {
  float: left;
  width: 10%;
  line-height: 9;
  border-radius: 50%;
  background-color: lightblue;
  text-align: center;
  margin-left: 15%;
  margin-right: 2%;
}

.userProfileName {
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.backgroundImg {
  float: right;
}

.myPageAll {
  width: 60%;
  margin: 0 auto;
  margin-top: 1%;
}

.myPageChoose {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  font-weight: 500; /* 선택 된 것만 굵게 */
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}
.MyPageOverview,
.MyPageRepositories,
.MyPageFollowers,
.MyPageFollowing {
  margin-right: 5%;
}
