@import '~styles/utils.scss';

.main_wrapper {
  height: 100%;
  max-width: $app_width;
  margin: 3rem auto;
  margin-bottom: 0;

  article {
    display: flex;
    justify-content: space-between;
  }
  section {
    width: 65%;
  }
  aside {
    display: block;
    position: sticky;
    top: 1rem;
    width: 30%;
    height: 500px;
    margin-top: 6rem;
  }
}
