@import '~styles/utils.scss';

.main_wrapper {
  height: 100%;
  max-width: $app_width;
  margin: 0 auto;
  padding-top: 3%;
  margin-bottom: 0;
  @include media('<medium') {
    max-width: 90%;
  }
  article {
    display: flex;
    justify-content: space-between;
  }
  section {
    width: 65%;
    @include media('<medium') {
      width: 100%;
    }
  }
  aside {
    display: block;
    position: sticky;
    top: 1rem;
    width: 30%;
    height: 500px;
    margin-top: 6rem;
    @include media('<medium') {
      display: none;
    }
  }
}
