@import '~styles/utils.scss';

.main_wrapper {
  display: flex;
  justify-content: space-between;

  height: 100%;
  width: $app_width;
  margin: 1rem auto;
  @include media('<wide') {
    justify-content: center;
    width: 100%;
  }

  section {
    width: 65%;
    @include media('<wide') {
      width: 90%;
    }
  }
  aside {
    display: block;
    position: sticky;
    top: 1rem;
    width: 30%;
    height: inherit;
    @include media('<wide') {
      display: none;
    }
  }
}
