@import '~styles/utils.scss';

.section {
  > span {
    font-size: 1.2rem;
    font-weight: 600;
  }
  > div {
    margin-top: 2%;
  }
  &:last-child {
    // border-bottom: 1px solid $gray;
  }
}
.section + .section {
  margin-top: 5%;
}
.myPageGraph {
  display: flex;
  justify-content: space-between;
  height: 300px;
  overflow: auto;
  overflow-y: hidden;

  .graph {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;
    font-size: 0.9rem;

    span {
      font-size: 0.8rem;
    }
  }
}
.activity {
  padding-left: 5%;
  width: 100%;
  margin-top: 2%;
  p {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1rem 0;
  }
}
.activity + .activity {
  margin-top: 0;
}
.activityDate {
  display: flex;
  margin-left: 4%;
  align-items: center;
  border-left: 2px solid $gray;
}
.verticlLine {
  width: 2px;
  background-color: $gray;
}
.activityList {
  width: 100%;
}
.activityGroup {
  padding: 4% 5%;
}
.activities {
  margin-top: 0.5rem;
  > div + div {
    margin-top: 0.5rem;
  }
  a {
    font-size: 1.1rem;
  }
  span {
    font-size: 1.1rem;
    font-weight: 400;
  }
}
