@import '~styles/utils.scss';

.new {
  max-width: $app_width / 1.8;
  margin: 6rem auto;
  @include media('<medium') {
    width: 90%;
    margin: 1rem;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  hr {
    border-color: $gray;
  }
  input,
  textarea {
    border-radius: 0.2rem;
    border: 1px solid lightgray;
    background-color: lighten($gray, 10%);
    line-height: 2rem;
    padding: 0 0.5rem;
    width: 20rem;
  }
  input {
    @include media('<medium') {
      min-width: 50px;
      max-width: 150px;
    }
    @media (max-width: 325px) {
      max-width: 130px;
    }
  }
  textarea {
    @include media('<medium') {
      min-width: 50px;
      max-width: 320px;
    }
    @media (max-width: 325px) {
      max-width: 300px;
    }
  }
  select {
    background-color: lighten($gray, 10%);
    @include media('<medium') {
      min-width: 120px;
    }
  }
}
.article {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  > span {
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    margin: 0 1.5rem;
    @include media('<medium') {
      font-size: 1.5rem;
      margin: 0 0.5rem;
      margin-bottom: 2%;
    }
  }
  .section {
    .label {
      margin-bottom: 0.5rem;
    }
  }
  button {
    border-radius: 5px;
    @include media('<medium') {
      width: 100%;
      text-align: center;
    }
  }
}

.datePicker {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(#000, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    background-color: white;
  }
}
