@import '~styles/utils.scss';

$searchHeight: 2.5rem;

.repositoriesWrapper {
  display: flex;
  @include media('<medium') {
    display: block;
    margin-top: 5%;
  }
}

.repositories {
  flex: 1;
}
.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $searchHeight;
  margin-bottom: 2rem;
  @include media('<medium') {
    margin-bottom: 1rem;
  }
  > a {
    margin-right: 2rem;
  }
  input {
    flex: 1;
    border-radius: 0.2rem;
    margin-right: 2rem;
    border: 1px solid lightgray;
    background-color: lighten($gray, 10%);
    padding: 0 0.5rem;
    width: 20rem;
    @include media('<medium') {
      margin: 0;
    }
  }
  select {
    width: 120px;
    height: $searchHeight;
  }
  button {
    margin: 0;
    height: 100%;
    padding: 0 2rem;
    border-radius: 5px;
    @include media('<medium') {
      display: none;
    }
  }
}
