@import '~styles/utils.scss';

.header_wrapper {
  width: 100%;
  height: 4rem;
  background-color: #2f4e73;
  box-shadow: $shadow2dp;
  .header {
    width: 1380px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }
    .mobileMenu {
      display: none;
      @include media('<medium') {
        display: flex;
      }
    }
    @include media('<wide') {
      width: 95%;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  width: 150px;
  img {
    height: 2.5rem;
  }
  span {
    margin-left: 3%;
    font-family: 'Ubuntu', sans-serif;
    &:hover {
      color: #c5e6ef;
    }
  }
}

.search {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  input {
    font-weight: 300;
    background-color: lighten(#2f4e73, 10%);
    border-color: lighten(#2f4e73, 10%);
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1rem;
    height: 2rem;
    width: 15rem;
    transition: all 0.2s;
    color: white;
    &::placeholder {
      color: darken($gray, 10%);
    }
    &:focus {
      width: 25rem;
      color: black;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border: none;
      box-shadow: $shadow6dp;
    }
  }
  input:focus + .searchResult {
    opacity: 1;
    visibility: visible;
    width: 25rem;
  }
  .searchResult {
    transition: width 0.2s;
    position: absolute;
    top: 2.9rem;
    width: 15rem;
    display: flex;
    opacity: 0;
    z-index: 999;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 5px;
    visibility: hidden;
    box-shadow: $shadow2dp;
    > a {
      color: black;
      width: 100%;
      div {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
          background-color: $primary;
          color: white;
        }
      }
    }
    i {
      margin-right: 0.75rem;
    }
    span {
      flex: 1;
    }
  }
}

.mobileMenu input {
  width: 45%;
  @media (max-width: 325px) {
    width: 40%;
  }
}
.mobileNotif {
  display: none;
  @include media('<medium') {
    display: inline-flex;
  }
}

.link {
  a {
    color: white;
    span:hover {
      color: #c5e6ef;
    }
  }
  a + a {
    margin-left: 1.5rem;
  }
  @include media('<medium') {
    a {
      display: none;
    }
  }
}
.menus {
  font-size: 1.5rem;
  color: white;
  .more {
    width: 100%;
    display: flex;
    justify-content: center;
    a {
      color: $primary;
    }
  }
}
.dropdown {
  position: relative;
  .item {
    padding: 0.5rem;
  }
}
.dropdown + .dropdown {
  margin-left: 1rem;
}
.logout {
  margin-left: auto;
  margin-right: 1rem;
  color: white;

  font-weight: 800;
  font-size: 2rem;

  cursor: pointer;
}
@include media('<medium') {
  .header_wrapper {
    max-width: 768px;
    .header > div {
      display: flex;
      align-items: center;
    }
  }

  .dropdown {
    display: none;
  }
  .search {
    display: none;
    input {
      display: none;
    }
  }
}
