.dropdown {
  summary {
    outline: none;
    font-size: 0.8em;
    &::after {
      margin-left: 0.5rem;
      border-bottom: 0 solid transparent;
      border-left: 0.3rem solid transparent;
      border-right: 0.3rem solid transparent;
      border-top-style: solid;
      border-top-width: 0.4rem;
      content: '';
      display: inline-block;
      height: 0;
      vertical-align: middle;
      width: 0;
    }
  }
  summary::-webkit-details-marker {
    display: none;
  }

  .wrapper {
    position: absolute;
    top: 55px;
    &::before {
      border-top: 0 solid transparent;
      border-left: 0.6rem solid transparent;
      border-right: 0.6rem solid transparent;
      border-bottom-style: solid;
      border-bottom-width: 0.8rem;
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 0;
      width: 0;
      position: absolute;
      top: -8px;
    }
    .menu {
      padding: 5px 0;
      position: relative;
      z-index: 999;
      box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
      border-radius: 5px;
      background-color: #fff;
      color: black;
      right: 80%;
      font-size: 0.9rem;
      div {
        padding: 0.3rem 0.5rem;
        cursor: pointer;
      }
      a {
        color: black;
      }
      .item:hover {
        background-color: #4285f4;
        color: white;
      }
      hr {
        margin: 0.3rem;
      }
    }
  }
}
