@import '~styles/utils.scss';

.dropdown {
  summary {
    outline: none;
    font-size: 0.8em;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  .carrot {
    margin-left: 0.5rem;
    border-bottom: 0 solid transparent;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top-style: solid;
    border-top-width: 0.4rem;
    content: '';
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
  }
  .message {
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    width: 0.7rem;
    height: 0.7rem;
    position: relative;
    top: -0.7rem;
    right: 0.7rem;
    display: inline-block;
    background-color: darken(red, 3%);
    vertical-align: middle;
  }
  .toggle {
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    width: 0.7rem;
    height: 0.7rem;
    position: relative;
    top: -0.7rem;
    right: 0.7rem;
    display: inline-block;
    vertical-align: middle;
  }
  .wrapper {
    margin-top: 1rem;
    position: absolute;
    left: auto;
    right: 0;
    &::before {
      float: right;
      border-top: 0 solid transparent;
      border-left: 0.6rem solid transparent;
      border-right: 0.6rem solid transparent;
      border-bottom-style: solid;
      border-bottom-width: 0.8rem;
      content: '';
      display: block;
      position: relative;
      top: -10px;
      left: auto;
      right: 1rem;
    }
    .menu {
      min-width: 150px;
      padding: 5px 0;
      position: relative;
      z-index: 999;
      box-shadow: $shadow6dp;
      border-radius: 5px;
      background-color: #fff;
      color: black;
      font-size: 0.9rem;
      .item {
        padding: 0.3rem 0.5rem;
        cursor: pointer;
      }
      a {
        color: black;
      }
      .item:hover {
        background-color: $primary;
        color: white;
        a {
          color: white;
        }
        time {
          color: white;
        }
      }
      .head {
        color: darken($gray, 15%);
      }
      hr {
        margin: 0.3rem;
      }
    }
  }
}
