@import '~styles/utils.scss';

.dropdown {
  summary {
    outline: none;
    font-size: 0.8em;
  }
  summary::-webkit-details-marker {
    display: none;
  }

  .wrapper {
    position: absolute;
    width: 100%;
    top: 3.9rem;
    left: 0;
    right: auto;
    .menu {
      position: relative;
      z-index: 999;
      background-color: white;
      font-size: 0.9rem;
      div {
        padding: 0.25rem 0.5rem;
        cursor: pointer;
      }
      input {
        width: 100%;
        font-weight: 300;
        border: none;
        background-color: darken(white, 10%);
        border-color: darken(white, 10%);
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1rem;
        height: 2rem;
        transition: all 0.2s;
        color: white;
        &::placeholder {
          color: darken($gray, 10%);
        }
        &:focus {
          color: black;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border: none;
          box-shadow: $shadow6dp;
        }
      }
      a {
        font-weight: 400;
        color: black;
      }
      a:hover {
        color: #86bdff;
      }
      .item:hover {
        color: #86bdff;
      }
      hr {
        margin: 0.3rem;
      }
    }
  }
}
