@import '~open-color/open-color';
@import '~include-media/dist/include-media';

$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1024px,
  wide: 1400px,
);

$app_width: 1300px;

$gray: #dadce0;
$headerBGColor: #2f4e73;
