@import '~styles/utils.scss';

.followerCard {
  display: flex;
  align-items: center;
  padding: 1.5rem 1.5rem;
  .follower {
    flex: 1;
    margin: 0 1rem;
  }
  .name {
    font-weight: 500;
  }
  .description {
    width: 100%;
    @include media('<medium') {
      width: 150px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media (max-width: 380px) {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media (max-width: 330px) {
      width: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  button {
    border-radius: 50px;
    @include media('<medium') {
      padding: 1%;
    }
    @media (max-width: 330px) {
      padding: 1%;
    }
  }
  .followerImg {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: lightgray;
    @include media('<medium') {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

.followerCard + .followerCard {
  border-top: 2px solid $gray;
  padding-top: 2rem;
}
