@import '~styles/utils.scss';

.userWrapper {
  max-width: $app_width / 1.5;
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;
  @include media('<medium') {
    max-width: 90%;
    margin-top: 2rem;
  }
}
