@import '~styles/utils.scss';

$boxWidth: 300px;

.bodyRight {
  z-index: 100;
  width: $boxWidth + 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  padding-top: 4rem;
  padding-bottom: 3.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: $shadow2dp;
  background-color: rgba(white, 1); /*99bddc  c5e6ef   baabcf */
}
.recommendBoxList {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.4rem;
}
.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  .keyword {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.3rem 0;
  }
  .list {
    flex: 1;
  }
  .btns {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    input {
      display: none;
    }
  }
  p {
    font-size: 0.95rem;
    b {
      font-weight: 600;
    }
    span {
      display: block;
      width: 100%;
      word-break: break-all;
    }
  }
}
.section + .section {
  margin-top: 10%;
}

.recommendBox {
  width: $boxWidth;
  height: 4rem;
  padding: 3%;
  background-color: white;
  box-shadow: $shadow2dp;
  .recommendIdea {
    font-size: 1rem;
    margin: 0.3rem 0;
  }
  .recommendHash {
    font-size: 0.8rem;
  }
}

.recommendBox + .recommendBox {
  margin-top: 7%;
}
