@import '~styles/utils.scss';

.followerList {
  margin: 0 20%;
}
.followerCard {
  padding: 1.5rem 1.5rem;
  padding-top: 0;
}
.followerCard + .followerCard {
  border-top: 2px solid $gray;
  padding-top: 2rem;
}

.followerImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightgray;
}
.followerCard {
  display: flex;
  align-items: center;
  .follower {
    flex: 1;
    margin: 0 1rem;
  }
  .name {
    font-weight: 500;
  }
  .description {
    width: 100%;
  }
  button {
    border-radius: 50px;
  }
}
