@import '~styles/utils.scss';

.discover {
  font-size: 0.9rem;
  span {
    font-weight: 500;
  }
  .repoList {
    margin: 1rem 0;
  }
  a {
    color: black;
    font-weight: 500;
  }
}
.repo {
  padding: 0.5rem 0;
  width: 100%;
  .desc {
    margin: 0.5rem 0;
  }
  .properties {
    span {
      font-weight: 300;
    }
    span + span {
      margin-left: 0.5rem;
    }
  }
}
.repo + .repo {
  border-top: 1px solid $gray;
}

.friendRec + .friendRec {
  margin-top: 5%;
}
