@import '~styles/utils.scss';

.peopleList {
  max-width: $app_width / 1.5;
  margin: 0 auto;
  @include media('<medium') {
    max-width: 768px;
  }
}

.options {
  display: flex;
  > button {
    width: 100%;
  }
}

.user {
  display: flex;
  align-items: center;
  > div {
    flex: 1;
  }
  > span {
    display: flex;
    justify-content: center;
    font-weight: 400;
    width: 8rem;
    margin: 0.5rem;
    cursor: default;
  }
}
