@import '~styles/utils.scss';

.repositoryWrapper {
  > div + div {
    margin-top: 2rem;
  }
  > div {
    > span {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.intro {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  > div {
    flex: 1;
  }
}
.info {
  width: 100%;
  .tendency {
    border: 1px solid $gray;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 0.3rem;
    display: flex;
    justify-content: space-around;
    .category {
      display: flex;
      align-items: center;
      > span {
        margin-left: 0.3rem;
      }
      .label {
        font-weight: 500;
      }
      .ratio {
        font-size: 0.95rem;
      }
    }
  }
}

/* sketch */
.repoScreen {
  border: 1px solid $gray;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  text-align: end;
  img {
    width: 100%;
    height: 100%;
  }
  a {
    position: relative;
    top: -100%;
  }
  button {
    color: white !important;
    background-color: lighten(rgba(0, 0, 0, 0.7), 0%) !important;
    &:not([disabled]):not(.disabled):active {
      background-color: darken(rgba(0, 0, 0, 0.7), 20%) !important;
    }
  }
}

.similarRepo {
  margin-top: 10%;
}

.idealist {
  width: 100%;
  height: 250px;
  > div {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 5px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .moreRepository {
    min-width: 240px;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      margin-right: 0.5rem;
    }
  }
}

.ideabox {
  min-width: 240px;
  height: 100%;
  box-shadow: $shadow2dp;
  .ideaimg {
    position: relative;
    background-color: white;
    width: 240px;
    height: 100%;
    img {
      width: 100%;
      height: calc(100% - 3.4rem);
    }
    z-index: 0;
  }
  .ideahov {
    position: relative;
    top: -193px;
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
    .idealabel {
      background-color: $gray;
      height: 3.4rem;
      padding: 1rem;

      .title {
        font-weight: 400;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        width: 100%;
        overflow: hidden;
        position: relative;
        opacity: 1;
        overflow: hidden;
        top: 0;
        transition: all 300ms;
      }
      .options {
        justify-content: space-around;
        display: flex;
        position: relative;
        opacity: 0;
        top: 0;
        transition: all 300ms;
        .box {
          background-color: gray;
          border-radius: 5px;
          color: white;
        }
        a {
          color: gray;
          font-weight: 500;
          display: inline-block;
          padding: 0.5rem 1.5rem;
        }
      }
    }
    &:hover {
      .title {
        opacity: 0;
        top: -1rem;
      }
      .options {
        opacity: 1;
        top: -2rem;
      }
    }
  }
}
.ideabox + .ideabox {
  margin-left: 20px;
}
