@import '~styles/utils.scss';

.brainHeader {
  margin: 0 auto;
  padding: 0 3%;
  height: 4rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 900;
  background-color: #2f4e73;
  display: flex;
  justify-content: space-between;
  box-shadow: $shadow2dp;
  > div {
    display: flex;
    align-items: center;
    line-height: 1rem;
  }
}
.brainLeftHeader {
  .brainLogo {
    img {
      height: 2.5rem;
    }
  }
  .projectName {
    color: white;
    font-size: 1.5rem;
    @include media('<medium') {
      font-size: 1.3rem;
    }
    @media (max-width: 325px) {
      font-size: 1.2rem;
    }
  }
  .groupName {
    color: rgb(255, 208, 0);
    font-size: 1.3rem;
    @include media('<medium') {
      font-size: 1rem;
    }
    @media (max-width: 325px) {
      font-size: 1rem;
    }
  }
  > div + div {
    margin-left: 10px;
  }
}

/**/
.brainRightHeader {
  font-size: 2rem;
  button {
    margin: 0;
    padding: 0.7rem 1.7rem;
    @include media('<medium') {
      padding: 0.5rem 1.3rem;
      width: 50px;
    }
    @media (max-width: 325px) {
      padding: 0.5rem 0.7rem;
      width: 30px;
    }
  }
  span {
    @include media('<medium') {
      display: none;
    }
  }
}
